<br />
<br />

<% flash.each do |name, msg| %>
  <div class="small-4 small-centered columns">
  <%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert-box alert" %>
  </div>
<% end %>

<div class="small-4 small-centered columns">
  <div class="panel">
    <%= form_for(@user, url: sessions_path) do |f| %>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.submit "Log in", class: "small-12 small-centered button" %>
      </p>
    <% end %>
  </div>
</div>