<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= "Catálogo da Bela Flor" %></h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
      
      <% @articles.each do |a| %>
        <a href="<%= catalog_show_path(code: a['CodArtigo']) %>" class="article-link">
          <div class="small-12 medium-6 large-4 columns">
            <div class=" product-box">
              <h2><%= "Artigo #{a['CodArtigo']}" %></h2>
              <div class="">
                <img class="product-thumb" src="http://fillmurray.com/200/200" alt="<%= p.class %>">
              </div>
              <h4><%= a['DescArtigo'] %></h4>
            </div>
          </div>
        </a>
      <% end %>

      </div>
    </div>
  </div>
</div>