<div class="large-12 columns">
  <h1><%= "Catalog" %></h1>
</div>

<div class="large-4 small-12 columns">
  <img src="http://fillmurray.com/500/500">

  <div class="hide-for-small panel">
    <h3>Header</h3>

    <h5 class="subheader">
      Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
    </h5>
  </div>

  <h3><%= "Shopping cart" %></h3>
  <a href="#">
    <div class="panel callout radius">
      <%= current_cart %>
    </div>
  </a>
</div>

<div class="large-8 columns">
  <div class="row">
  
  <% @articles.each do |a| %>
    <div class="large-4 small-6 columns">
      <div class="product-box">
        <img src="http://fillmurray.com/500/500">

        <div class="panel">
          <h5><%= a['DescArtigo'] %></h5>
          <h6 class="subheader"><%= a['PVP1'] ? a['PVP1'] : "Not available" %></h6>
        </div>
      </div>
    </div>
  <% end %>

  </div>
</div>