<div class="large-4 small-12 columns">
  <img src="http://fillmurray.com/500/500">

  <div class="hide-for-small panel">
    <h3>Header</h3>

    <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim
    nibh fermentum odio ornare sagittis.</h5>
  </div><a href="#">
  <div class="panel callout radius">
    <h6>99&nbsp; items in your cart</h6>
  </div></a>
</div>

<div class="content">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= "Catálogo da Bela Flor" %></h1>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="row">
      
      <% @articles.each do |a| %>
        <a href="<%= catalog_show_path(code: a['CodArtigo']) %>" class="article-link">
          <div class="small-12 medium-6 large-4 columns">
            <div class=" product-box">
              <h2><%= "Artigo #{a['CodArtigo']}" %></h2>
              <div class="">
                <img class="product-thumb" src="http://fillmurray.com/200/200" alt="<%= p.class %>">
              </div>
              <h4><%= a['DescArtigo'] %></h4>
            </div>
          </div>
        </a>
      <% end %>

      </div>
    </div>
  </div>
</div>



      <div class="large-8 columns">
        <div class="row">
          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/1000x1000&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>

          <div class="large-4 small-6 columns">
            <img src="http://placehold.it/500x500&amp;text=Thumbnail">

            <div class="panel">
              <h5>Item Name</h5>

              <h6 class="subheader">$000.00</h6>
            </div>
          </div>