<div class="large-12 columns">
  <h1><%= "Catalog" %></h1>

  <div class="row">
    <div class="large-4 small-12 columns">
      <img src="http://fillmurray.com/500/500">

      <div class="hide-for-small panel">
        <h3>Header</h3>

        <h5 class="subheader">
          Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
        </h5>
      </div>

      <h3><%= "Shopping cart" %></h3>
      <a href="#">
        <div class="panel callout radius">
          <%= current_cart %>
        </div>
      </a>
    </div>


    <div class="large-8 columns">
      
      <% @articles.each do |a| %>
      <div class="large-12 panel clearfix">
      <div class="row">
          <div class="large-5 small-6 columns">
            <img src="http://fillmurray.com/200/200">
          </div>
          <div class="large-7 small-6 columns">
            <h5><%= a['name'] %></h5>
            <h6 class="subheader">
              <%= "Price for 1 #{a['unit']}" %>
              <strong><%= a['price'] ? a['price'] : "Not available" %> €</strong>
            </h6>
            <button class="add-order small button"><%= "Order" %></button>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>

</div>