<div class="row">
  <div class="large-8 large-centered columns">
    <div class="panel">
    
    <%= form_for(@client) do |f| %>
      <div class="row">
        <div class="large-12 columns">
          <%= f.label :name, :class => ('error' if !@client.errors[:name].empty?) %>
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :nif, :class => ('error' if !@client.errors[:nif].empty?) %>
          <%= f.text_field :nif %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :address, :class => ('error' if !@client.errors[:address].empty?) %>
          <%= f.text_field :address %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :phone, :class => ('error' if !@client.errors[:phone].empty?) %>
          <%= f.text_field :phone %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :fax, :class => ('error' if !@client.errors[:fax].empty?) %>
          <%= f.text_field :fax %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :country, :class => ('error' if !@client.errors[:country].empty?) %>
          <%= f.text_field :country %>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <%= f.label :market, :class => ('error' if !@client.errors[:market].empty?) %>
          <%= f.text_field :market %>
        </div>
      </div>

      <div class="row">
        <div class="large-4 columns">
          <%= f.label :payment_type %>
          <%= f.radio_button :payment_type, 'cash', :checked => true %>
          <%= f.label :payment_type_cash, 'Cash' %>
          <%= f.radio_button :payment_type, 'check' %>
          <%= f.label :payment_type_check, 'Check' %>
          <%= f.radio_button :payment_type, 'card' %>
          <%= f.label :payment_type_card, 'Card' %>
        </div>

        <div class="large-4 columns">
          <%= f.label :payment_condition %>
          <%= f.radio_button :payment_condition, 'pronto', :checked => true %>
          <%= f.label :payment_condition_pronto, 'Pronto' %>
          <%= f.radio_button :payment_condition, 'thirty' %>
          <%= f.label :payment_condition_thirty, '30 days' %>
          <%= f.radio_button :payment_condition, 'ninety' %>
          <%= f.label :payment_condition_ninety, '90 days' %>
        </div>
        <div class="large-4 columns">
          <%= f.label :currency %>
          <%= f.radio_button :currency, 'EUR', :checked => true %>
          <%= f.label :currency_euro, '€' %>
          <%= f.radio_button :currency, 'EUR' %>
          <%= f.label :currency_pound, '£' %>
          <%= f.radio_button :currency, 'EUR' %>
          <%= f.label :currency_dollar, '$' %>
        </div>
      </div>

      <div class="row">
        <div class="large-6 large-centered columns">
          <%= f.submit "Enter", :class => "large-12 button" %>
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>