<div class="panel">
  <h3><%= "Client information" %></h3>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Code:</strong>
    <%= @client.code %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @client.name %>
  </p>

  <p>
    <strong>Nif:</strong>
    <%= @client.nif %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @client.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @client.phone %>
  </p>

  <p>
    <strong>Currency:</strong>
    <%= @client.currency %>
  </p>
</div>