<div class="large-12 columns">
  <h1>Listing clients</h1>

  <p id="notice"><%= notice %></p>

  <table>
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Nif</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Currency</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client['code'] %></td>
          <td><%= client['name'] %></td>
          <td><%= client['nif'] %></td>
          <td><%= client['address'] %></td>
          <td><%= client['phone'] %></td>
          <td><%= client['currency'] %></td>
          <td><%= link_to 'Show', client_path(client.code) %></td>
          <td><%= link_to 'Edit', edit_client_path(client.code) %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Client', new_client_path %>
</div>