<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @order.client_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @order.article_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
