.row
  .small-4.small-centered.columns
  %h2 Sign up for an account
  %br
    = form_tag "/register" do
      %p
        = label_tag :name
        = text_field_tag :name
      %p
        = label_tag :email
        = text_field_tag :email
      %p
        = label_tag :password
        = password_field_tag :password
      %p
        = label_tag :repassword, "Repeat password"
        = password_field_tag :repassword
      %p
        = submit_tag "Sign in", class: "button"