!!! 5
%html
  %head
    %title
      Bfapp

    = stylesheet_link_tag "application", media: "all"

    = javascript_include_tag "application"

  = yield :head

  %body
    = render partial: 'elements/header'
    .container
      = yield
    = render partial: 'elements/footer'